/* Ensure full viewport height */
html,
body {
    height: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

/* Container fills the available space */
.container {
    flex-grow: 1;
    /* Pushes footer down */
}

/* Footer remains fixed at the bottom */
footer {
    text-align: center;
    padding: 10px;
    
    font-size: 0.85rem;
    color: #333;
    width: 100%;
    
}